* text=auto eol=lf

# Force Blade templates to count as PHP
*.blade.php linguist-language=PHP

# Ignore vendor and frontend assets in language stats
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
/public/* linguist-vendored
/resources/js/* linguist-vendored
/resources/css/* linguist-vendored
/resources/sass/* linguist-vendored

# Ignore configs and lock files
*.json linguist-vendored
*.lock linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored

# Export-ignore (repo size clean)
CHANGELOG.md export-ignore
/.github export-ignore
/node_modules export-ignore
/vendor export-ignore
/storage export-ignore
/bootstrap/cache export-ignore
